@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');
@import "tailwindcss";

@theme {
  --color-primary: #064e3b;
  --color-secondary: #f97316;
  --color-bg-main: #f8fafc;
  --color-text-main: #0f172a;
  --color-text-muted: #64748b;
  --color-accent: #fbbf24;
  
  --font-sans: "Inter", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  
  --radius-xl: 0.5rem;
  --radius-2xl: 0.75rem;
  --radius-3xl: 1rem;

  --animate-pulse-subtle: pulse-subtle 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes pulse-subtle {
    0%, 100% { opacity: 1; transform: scale(1); }
    50% { opacity: 0.9; transform: scale(1.03); }
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  body {
    @apply bg-bg-main text-text-main font-sans;
  }
}
